# Ignorar directorio node_modules
kraken-tests/v3.42.4/node_modules/
kraken-tests/v5.81.1/node_modules/

# Ignorar directorio reports
kraken-tests/v3.42.4/reports/
kraken-tests/v5.81.1/reports/

kraken-tests/v3.42.4/.kraken/
kraken-tests/v5.81.1/.kraken/

cypress-tests/cypress/screenshots
cypress-tests/cypress/.DS_Store


# Ignorar archivo package-lock.json
kraken-tests/v3.42.4/package-lock.json
kraken-tests/v5.81.1/package-lock.json

#Ignorar la carpeta screenshots
screenshots/

# Ignorar gen de dependecias para resemble
resemble/package-lock.json
resemble/node_modules
resemble/results

# Ignorar gen de dependecias para backstop
backstop-tests/package-lock.json
backstop-tests/node_modules
backstop-tests/backstop_data
